<!--
    FILE NAME: navbar.html
  DESCRIPTION: 상단의 네비게이션 바를 정리한 것입니다.
-->

<nav class="navbar navbar-default navbar-fixed-top "  >
  <div class="container" >

    <div id="cmc-nav-banner" class="container-fluid hidden-xs">

    </div>

    <!-- 홈페이지의 폭이 좁을 경우 모바일용 메뉴로 바뀐다 -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed " style="z-index:100000" data-toggle="collapse" data-target="#homepage-menu-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="{{ site.url }}/"  style=" position: absolute;" ><img src="{{ site.url }}\image\title\titleFont.png" alt="miran_title" class="img-responsive miran_title "></a>
      <!-- 좌측의 사이트 제목 -->

    </div>


    <div class="collapse navbar-collapse cmc-nav-list" id="homepage-menu-collapse">

      <!-- 우측의 메뉴들/ <li>태그들이 하나의 메뉴 항목이 된다 -->
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
              <a href="{{ site.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">교단소개<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ site.url }}/htmlPage/greeting.html">인사말</a></li>
                <li><a href="{{ site.url }}">비전</a></li>
                <li><a href="{{ site.url }}">교단연혁</a></li>
                <li><a href="{{ site.url }}">오시는길</a></li>
              </ul>
            </li>

        <li class="dropdown">
          <a href="{{ site.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">교단활동<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ site.url }}">봉사활동</a></li>
            <li><a href="{{ site.url }}">예술활동</a></li>
            <li><a href="{{ site.url }}">선교활동</a></li>
          </ul>
        </li>
        <li><a href="{{ site.url }}">협력기관</a></li>
        <li><a href="{{ site.url }}">교인소개</a></li>
      </ul>

    </div>

  </div>
</nav>
